<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link href="/css/login.css" rel="stylesheet">
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <main>
        <div class="box">
            <img src="/image/img1.png" alt="Login Image">
            <div class="form-container">
                <h2 style="text-align: center">WELCOME BACK!</h2>
                <br>
                <form id="loginForm">
                    <div class="input-container">
                        <input type="text" name="username" id="username" required placeholder=" ">
                        <label for="username">ID</label>
                    </div>
                    <div class="input-container">
                        <input type="password" name="password" id="password" required placeholder=" ">
                        <label for="password">PW</label>
                    </div>
                    <button type="submit" name="login" id="login" class="btn btn-primary submitBtn">LOGIN</button>
                </form>
                <hr>
                <div id="link">
                    <ul>
                        <li><a href="/register">REGISTER</a></li>
                        <li>|</li>
                        <li><a href="/findid">FIND ID</a></li>
                        <li>|</li>
                        <li><a href="/findpwd">FIND PW</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
<script src="/js/login.js"></script>
</body>
</html>
