<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <h2>Sign Up</h2>
    <form id="signupForm">
        <div>
            <label for="username">Username:</label>
            <input id="username" name="username" required type="text">
        </div>
        <div>
            <label for="email">Email:</label>
            <input id="email" name="email" required type="email">
        </div>
        <div>
            <label for="password">Password:</label>
            <input id="password" name="password" required type="password">
        </div>
        <button type="submit">Sign Up</button>
    </form>
    <div id="signupResult"></div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>

<script src="/js/signup.js"></script>
</body>
</html>
