<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div>
        <form id="verifyForm">
            <label for="certificateInput">Upload Contract PDF:</label>
            <input id="certificateInput" name="certificate" type="file" required>
            <label for="imageInput">Upload Contract Image:</label>
            <input id="imageInput" name="image" type="file" required>
            <button type="submit">Verify Contract</button>
        </form>
        <div id="verificationResult"></div>
        <script src="/js/verify.js"></script>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->

</body>
</html>