<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<link href="/css/check.css" rel="stylesheet">
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div class="check-bigcontainer">
        <div class = "check-container">
            <form id="verifyForm">
                <label for="certificateInput">계약서 PDF파일 업로드:</label>
                <input id="certificateInput" name="certificate" required type="file">
                <label for="imageInput">계약서 이미지 업로드:</label>
                <input id="imageInput" name="image" required type="file">
                <button type="submit">계약 인증하기</button>
            </form>
            <div id="verificationResult"></div>
            <script src="/js/verify.js"></script>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->

</body>
</html>