.jwajwa-container{
    display: flex;
    justify-content: center;
    margin:0 auto
}
.file-container{

    width: 100%;
    max-width: 500px; /* 폼의 최대 너비를 제한 */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: left; /* 텍스트를 왼쪽 정렬 */
}