<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>

<div class="container">

    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div>
        <form enctype="multipart/form-data" id="uploadForm">
            <input id="imageInput" type="file" name="image" required>
            <input id="signatureInput1" type="file" name="signature1" required>
            <input id="signatureInput2" type="file" name="signature2" required>
            <input id="partyA" placeholder="Enter Party A's Name" required type="text" name="partyA">
            <input id="partyB" placeholder="Enter Party B's Name" required type="text" name="partyB">
            <button type="submit">Upload and Process</button>
        </form>
        <div id="preview"></div>
        <script src="/js/upload.js"></script>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->
</body>
<script>

</script>
</html>