<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<link href="/css/contract.css" rel="stylesheet">
<body>

<div class="container">

    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div class = "jwajwa-container">
        <div class = "file-container">
            <form enctype="multipart/form-data" id="uploadForm">
                <input id="imageInput" name="image" required type="file">
                <input id="signatureInput1" name="signature1" required type="file">
                <input id="signatureInput2" name="signature2" required type="file">
                <input id="partyA" name="partyA" placeholder="계약자 성함을 입력해주세요" required type="text">
                <input id="partyB" name="partyB" placeholder="계약자 성함을 입력해주세요" required type="text">
                <button type="submit">업로드 및 진행</button>
            </form>
            <div id="preview"></div>
            <script src="/js/upload.js"></script>
        </div>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->
</body>
<script>

</script>
</html>