<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div style="width:1200px; margin: 0 auto;">
        <img src="/image/i(2).PNG" style="width: 1200px;"></img>
        <img src="/image/i(3).PNG" style="width: 1200px;"></img>
        <img src="/image/i4.PNG" style="width: 1200px;"></img>
        <img src="/image/i5.PNG" style="width: 1200px;"></img>
        <img src="/image/i6.PNG" style="width: 1200px;"></img>
        <img src="/image/i7.PNG" style="width: 1200px;"></img>
        <img src="/image/i8.PNG" style="width: 1200px;"></img>
        <img src="/image/i9.PNG" style="width: 1200px;"></img>
        <img src="/image/i10.PNG" style="width: 1200px;"></img>
        <img src="/image/i11.PNG" style="width: 1200px;"></img>
        <img src="/image/i13.PNG" style="width: 1200px;"></img>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>

</body>
</html>
